{% extends "base.html" %} {% block mainbody %}

<title>详细资料</title>

<div class="container">
    <div class="row">
        <!--overview start-->

        <div class="col-sm-12">
            {% autoescape off %}
            <div class="row">
                <div class="col-md-9">
                    <div class="card card-default">

                        <!--代表将html标签文本转义成标签显示-->
                        <div class="card-body">
                            <div class="page-header">
                                <h1>{{ title }}</h1>
                                {{ categories }}
                            </div>
                            <hr class="my-4" />
                            <div class="row">
                                <div class="col">
                                    <p class="card-text">{{ image }}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ detail }}</p>
                                </div>
                            </div>
                            <br /> {{ baseInfoTable }}
                        </div>



                    </div>
                </div>

                {% if answer_type == 'csNode' %}
                <div class="col-md-3">
                    <div class="card card-default">
                        <!--词云面板-->
                        <div class="card-body">
                            <h4>相关概念：</h4>
                            <!-- begin -->
                            <div class="tagcloud">
                                <!-- class="tagcloud" - 用途js.css -->
                                {{ tagcloud }}
                            </div>
                            <!-- end -->
                        </div>
                    </div>
                    <div class="card card-default">
                        <!--类型：-->
                        <div class="card-body">
                            <h4>类型：</h4>
                            <!-- begin -->
                            {{ agri_type }}

                            <!-- end -->
                        </div>

                    </div>
                    <div class="card card-default">
                        <!--类型：-->
                        <div class="card-body">
                            <h4>实体类型：</h4>
                            <!-- begin -->

                            {{ entity_type }}
                            <!-- end -->
                        </div>
                    </div>

                </div>
                {% endif %}
            </div>
            {% endautoescape %}
        </div>
    </div>
</div>
<script>
</script>

{% endblock %}
