{% extends "base.html" %} {% block mainbody %}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <!--overview start-->

            <section class="card">
                <header class="card-header">
                    输入文本 :
                </header>
                <div class="card-body">
                    <form action="/ER-post" method="post">
                        <div class="form-group">
                            {% csrf_token %}
                            <textarea type="text" name="user_text" class="form-control" placeholder="Enter text" style="height:140px"> </textarea>
                        </div>
                        <div style="margin-top: 1rem" >
                            <button type="submit" class="btn btn-primary"> 提交 </button>
                        </div>
                    </form>
                </div>
            </section>
            <!--collapse start-->
            <div class="m-bot20" id="accordion">
                <div class="card card-default">
                    <div class="card-header">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    [查看识别结果]
                        </a>
                    </div>
                    <div id="collapseOne" class="card-collapse collapse in">
                        <div class="card-body">
                            {% autoescape off %}
                            <h5>{{ rlt }}</h5>
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">

                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    [查看分词结果]
                            </a>

                    </div>
                    <div id="collapseTwo" class="card-collapse collapse">
                        <div class="card-body">
                            {% autoescape off %}
                            <h5> {{ seg_word }}</h5>
                            {% endautoescape %}
                        </div>
                    </div>
                </div>

            </div>
            <!--collapse end-->

        </div>

    </div>
</div>

{% endblock %}
